@font-face {
    font-family: poppins;
    src: url(Poppins-MediAum.ttf);
}
body{
    background-color: rgb(243, 211, 213);
}
.container{
    border: dotted 6px rgb(248, 6, 6);

}
.inner-container{
    padding: 20px;
    margin: 5%;
    border: solid 3px rgb(177, 196, 8);
}
h1{
    text-align: center;
    font-style: italic;
    font-family: poppins;
    font-size: 55px;
    color: darkmagenta;
}